.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
body {
    background-color: #000;
    color: #fff;
}
h1 {
    color: mediumvioletred;
    font-size: 80px;
    text-align: center;
    margin-top: 135%;
    margin-right: 45px;
}
.AddItem {
    display: block;
    width: 39%;
    border: 1px dashed ;
    padding-left: 84px;
    margin-top: 35px;
}
.order{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 27px;
    padding-top: 20%;
}

.count, .menu-name, .price, .delete-btn {
    display: inline-flex;
    margin: 20px 20px;
    width: 10%;
}
.delete-btn{
    font-size: 30px;
    display: none;
    border: none;
    background: no-repeat;
    color: red;
}
.delete-btn:hover {
    color: mediumvioletred;
    cursor: pointer;
}

.img{
    width: 90px;
    height: 90px;
    vertical-align: middle;
    border-radius: 30%;
}
.add-item{
    margin: 10px;
}
